

.title{
    width: 100%;
    margin: 0 auto;
    height: 80px;
    line-height: 80px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
  }
  .title>h1>img{
    width: 110px;
    height: 35px;
    margin-right: 200px;
    margin-left: 100px;
  }
  .title>div>span{
    padding: 0 20px;
    font-weight: 700;
    font-size: 16px;
  }
  .content{
    width: 100%;
  }
.home_index_title_container>h1{

  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 45px;
  margin: 50px 0;
  

}
.home_index_subtitle{
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  color: #666;

}
.two{
  width: 90%;
  height:700px;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-top: 200px;
}
.two>div{
  width: 430px;
  height: 400px;
  margin-left: 50px;
}
.two>div>div{
  font-size: 20px;
  color: #666;
  margin-top: 50px;
}
.two>div>img{
width: 600px;
height: 100px;
margin-top: 100px;
}

.two>img{
  width:900px ;
  height: 600px;
}